.header{
    border: none;
}
@media (max-width:768px) {
    .main{
        width:80%;
        top: 10%;
        left: 10%;
        padding: 10px;
    }
}
.main-modal{
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.main-modal .info{
    display: flex;
    gap: 10px;
}
.main-modal .info input{
    width: 50%;
}
.titleModal{
    color: var(--TitleColor);
}
input ,
.dropItems{
    border: none;
    border: 2px solid #eded;
    padding: 8px;
    outline: none;
}
@media (max-width:768px) {
    .dropItems{
        padding-right: 30px;           
        white-space:break-spaces

    }
    .dropItems option{
        font-size: 10px;
    }
}
.main .footer{
    border: none;
    display: flex;
    justify-content: center;
}
